<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congregation Account created successully</title>
</head>
<body>
    <p>Hello {{ name }}</p>
    <p style="font-size: 12px">Your request to create the following congregation account is approved: <strong>{{ congregation_name }} ({{ congregation_number}})</strong>. Please login to the application using your email and password to start using this account.</p>
    <p style="font-size: 12px">
        Thank you
        <br>The Scheduling Workbox System Team
    </p>
</body>
</html>