<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congregation Account Request</title>
</head>
<body>
    <p>Hello sws2apps team,</p>
    <p style="font-size: 12px">We have received a new request to create a congregation for <strong>{{ congregation_name }} ({{ congregation_number}})</strong>, from <strong>{{ requestor_name }}</strong>. Please login to the admin panel to approve or disapprove this request.</p>
    <p style="font-size: 12px">
        Thank you
        <br>The Scheduling Workbox System Team
    </p>
</body>
</html>