<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Account</title>
</head>
<body>
    <p>Hello {{ name }},</p>
<<<<<<< HEAD:views/verifyAccount.handlebars
    <p style="font-size: 12px">You have created an account to use with our Scheduling Workbox System applications. Please verify your account by clicking the following link: <a href={{ activation }} title='Activate'>Activate</a>.</p>
=======
    <p style="font-size: 12px">You have created an account to use with our Scheduling Workbox System applications. Please verify your account by clicking the following link: {{ activation }}.</p>
>>>>>>> e18ab2fca1f67ebd954d159cbf370af4d8d153cd:src/views/verifyAccount.handlebars
    <p style="color: red; font-size: 10px">If you did not create any account to one of our applications, we strongly recommend you not to click any links in this message!</p>
    <p style="font-size: 12px">
        Thank you
        <br>The Scheduling Workbox System Team
    </p>
</body>
</html>