<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div id="content">
    <div class="header">
      <img src="../assets/logo.svg">
      <h2>Organized</h2>
    </div>
    <div class="content">
      <h2>Log in to your Organized account</h2>
    </div>
    <div class="card-container">
      <div class="card">
        <p>
          We've received a request for you to log in using your email. Please confirm the login by clicking the button
          below.
        </p>
        <a href="#">Login to Organized</a>
      </div>
    </div>
    <div class="text">
      <p class="info">
        If you can’t use the login button above, please use the following link. Make sure it is not cropped when you are
        copying it:
      </p>
      <p>
        <a href="#">
          https://cpe-web.sws2apps.com/#/?code=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJodHRwczovL2lkZW50aXR5dG9vbGtpdC5nb29nbGVhcGlzLmNvbS9nb29nbGUuaWRlbnRpdHkuaWRlbnRpdHl0b29sa2l0LnYxLklkZW50aXR5VG9vbGtpdCIsImlhdCI6MTY5Nzc5Mzg2NCwiZXhwIjoxNjk3Nzk3NDY0LCJpc3MiOiJmaXJlYmFzZS1hZG1pbnNkay1zanM3aUBjcGUtc3dzLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwic3ViIjoiZmlyZWJhc2UtYWRtaW5zZGstc2pzN2lAY3BlLXN3cy5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInVpZCI6IkVDMzdRU0VSSGxldXdoM3puOElxRWswcFhtVjIifQ.Kfe6ZpMQTsrINxufLqMJ1-p0kixIz_w5B1u7ZcvQZInYAbsTKtbQZmhriEoSR
        </a>
      </p>
      <p class="ignore">If you did not request this link, please just ignore this email.</p>
    </div>
    <div class="footer">
      <p>© 2025 Organized app</p>

      <div class="icons">
        <a href="#">
          <img src="../assets/book.svg" />
        </a>
        <a href="#">
          <img src="../assets/translate.svg" />
        </a>
        <a href="#">
          <img src="../assets/earth.svg" />
        </a>
        <a href="#">
          <img src="../assets/github.svg" />
        </a>
        <a href="#">
          <img src="../assets/youtube.svg" />
        </a>
      </div>
    </div>
  </div>
</body>
</html>