<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
  <div id="content">
    <div class="header">
      <img src="../assets/logo.svg">
      <h2>Organized</h2>
    </div>
    <div class="content">
      <h2>Welcome to Organized app!</h2>
      <p>
        Thanks for registering! We’re excited for you to explore Organized. Watch this introductory video to start using
        the app and enhance the organization of your theocratic activities:
      </p>
    </div>
    <div>
      <div class="card">
        <div class="card-content">
          <h3>Getting started</h3>
          <a href="#">
            <img src="../assets/info.svg" alt="">
            <span>Meet Organized</span>
          </a>
          <p class="big-text">01</p>
          <div class="logo">
            <img src="../assets/logo.svg">
            <p>Organized</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="yt-link">Watch the video on YouTube</a>
    <div class="links">
      <h3>More info about the app:</h3>
      <div class="link">
        <img src="../assets/question.svg">
        <p>
          <a href="#">
            User guide
          </a>
          that provides step-by-step instructions
        </p>
      </div>
      <div class="link">
        <img src="../assets/blog.svg">
        <p>
          <a href="#">
            Our blog
          </a>
          with tips and useful features
        </p>
      </div>
      <div class="link">
        <img src="../assets/donate.svg">
        <p>
          <a href="#">
            Support the app
          </a>
          with a donation to power its growth
        </p>
      </div>
    </div>
    <div class="footer">
      <p>© 2025 Organized app</p>

      <div class="icons">
        <a href="#">
          <img src="../assets/book.svg" />
        </a>
        <a href="#">
          <img src="../assets/translate.svg" />
        </a>
        <a href="#">
          <img src="../assets/earth.svg" />
        </a>
        <a href="#">
          <img src="../assets/github.svg" />
        </a>
        <a href="#">
          <img src="../assets/youtube.svg" />
        </a>
      </div>
    </div>
  </div>
</body>
</html>