name: CI

on:
  push:
    branches: [main]

permissions: read-all

jobs:
  ci:
    name: Continuous Integration
    if: ${{ github.repository == 'sws2apps/sws2apps-api' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository for tests
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - name: Cache Firebase Emulators
        uses: actions/cache@c1a5de879eb890d062a85ee0252d6036480b1fe2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-emulators-${{ hashFiles('~/.cache/firebase/emulators/**') }}

      - name: Use Node.js current version
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version: current

      - name: Install firebase tools
        run: npm install -g firebase-tools

      - name: Install dependency
        run: npm ci

      - name: Run tests
        run: npm run firebase:test
        env:
          FINGERPRINT_API_SERVER_KEY: ${{ secrets.FINGERPRINT_API_SERVER_KEY }}
          JW_CDN: ${{ secrets.JW_CDN }}
