name: CD

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy API to Production
    if: ${{ github.repository == 'sws2apps/sws2apps-api' && github.ref == 'refs/heads/main' }}
    environment:
      name: Prod.env
      url: https://api.sws2apps.com
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Install Koyeb CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/koyeb/koyeb-cli/master/install.sh | sh

      - name: Checkout for release preparation
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: main
          persist-credentials: true

      - name: Use Node.js LTS version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: lts/Jod

      - name: Install dependencies
        run: npm ci

      - name: Semantic Release
        id: semantic
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release

      - name: Deploy API to Koeyb
        env:
          KOEYB_SERVICE_NAME: ${{ vars.KOEYB_SERVICE_NAME }}
          KOEYB_API_TOKEN: ${{ secrets.KOEYB_API_TOKEN }}
        run: |
          export PATH="$HOME/.koyeb/bin:$PATH"
          koyeb service redeploy $KOEYB_SERVICE_NAME --token $KOEYB_API_TOKEN
