name: CD

on:
  workflow_dispatch:

permissions: read-all

jobs:
  ci:
    name: CI
    if: ${{ github.repository == 'sws2apps/sws2apps-api' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository for cypress tests
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - name: Use Node.js current version
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516
        with:
          node-version: current

      - name: Install firebase tools
        run: npm install -g firebase-tools

      - name: Install dependency
        run: npm ci

      - name: Run tests
        run: npm run firebase:test
        env:
          FINGERPRINT_API_SERVER_KEY: ${{ secrets.FINGERPRINT_API_SERVER_KEY }}
          JW_CDN: ${{ secrets.JW_CDN }}

  deploy:
    needs: ci
    name: Deploy API to Render
    if: ${{ github.repository == 'sws2apps/sws2apps-api' && github.ref == 'refs/heads/main' }}
    environment:
      name: Prod.env
      url: https://sws2apps-api.onrender.com
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
        with:
          ref: main
          persist-credentials: false

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@8f6ceb9d5aae5578b1dcda6af00008235204e7fa
        with:
          semantic_version: 19.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Render Deployment
        if: ${{ steps.semantic.outputs.new_release_published == 'true' }}
        uses: sws2apps/render-deployment@cb4cce83b99653bee952b81acbba65ddfc9226d8
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
          multiple: false
