name: NodeJSScan

on:
  schedule:
    - cron: '0 12 * * 4'

permissions:
  contents: read

jobs:
  nodejsscan:
    name: NodeJS Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: nodejsscan scan
        id: njsscan
        uses: ajinabraham/njsscan-action@231750a435d85095d33be7d192d52ec650625146
        with:
          args: '. --sarif --output results.sarif || true'

      - name: Upload njsscan report
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789
        with:
          sarif_file: results.sarif
