name: Lint Check

on:
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  cypress-run:
    name: Run linting
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for linting
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: lts/Jod

      - name: Install Dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint
